Flask==2.0.3
Flask-WTF==1.0.1           # For forms and CSRF protection
Flask-SQLAlchemy==2.5.1
SQLAlchemy<2.0
Flask-Migrate==3.1.0       # Database migrations
Flask-Bootstrap==3.3.7.1   # For integrating Bootstrap
Flask-Mail==0.9.1          # For sending emails via contact forms
Werkzeug==2.0.3            # Required for Flask compatibility
gunicorn==20.1.0           # For deployment on web servers

